streamlit
python-dotenv
google.genai
langchain
langchain_core
langchain_community
yt-dlp

openai

# pyngrok
langchain-mcp-adapters
langgraph
langchain_openai
mcp
opencv-python
openai-whisper --no-cache-dir

chromadb